@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --bg-color: #3C3D37;
    --primary-color: #F4F6FF;
    --secondary-color: #FFE700;
    --font: "Bona Nova SC", serif;
}

